@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <h1>Path: @Model.path</h1>
    <h1>Qs: @Model.queryString</h1>
    <h1>Body: @Model.body</h1>
    <h1>Schema: @Model.schema</h1>
    <h1>Host: @Model.host</h1>
</div>
